/*Estilos da página Sandro.hmtl*/

.center {
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}


/*Estilos da página Contato.html*/