/*Estilos da página Sandro.hmtl*/

.center {
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}


/*Estilos da página Contato.html*/

#menu li {
    display: inline;
    padding: 20px;
}

#menu li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#menu li a:hover {
    color: orangered
}

.p-30 {
    padding: 30px;
}

.br-50 {
    border-radius: 50%;
}

.tm-social {
    width: 50px;
    height: 50px;
}

.ml-50 {
    margin-bottom: 50px;
}